* {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

main {
  margin: 32px;
}

nav {
  background-color: #999;
  padding: 12px;
}

nav img.banner {
  height: 50px;
  width: auto;
  mix-blend-mode: multiply;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style-type: none;
  margin: 4px;
}

nav ul li a {
  color: #222;
}

footer {
    padding: 16px; 
    background-color: #eee;
    font-size: 12px;
}
