* {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

main {
  margin: 32px;
}

main ul {
  margin-inline-start: 16px;
}

main p {
  margin: 16px 0;
}

nav {
  background-color: #eee;
  padding: 12px;
}

nav img.banner {
  width: 100%;
  height: auto;
  mix-blend-mode: multiply;
}

@media screen and (min-width: 320px) {
  nav img.banner {
    height: 25px;
    width: auto;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

nav ul {
  display: flex;
}

nav ul li {
  list-style-type: none;
  margin: 8px;
}

nav ul li a {
  color: #222;
}

footer {
    padding: 16px; 
    background-color: #ddd;
    font-size: 12px;
}
